<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Search Sales by Quarter</title>
	<link href="/css/home.css" rel="stylesheet">
	<link href="/css/Table.css" rel="stylesheet">
</head>

<body>
	<div align="right">
		<form action="/logout" method="post">
			<button type="submit">Logout</button>
		</form>
	</div>
	<h2>Search Sales by Quarter</h2>
	<div>
		<form th:action="@{/home/quarter}" method="post">
			<label for="quarter">Quarter ID (1-4):</label>
			<input type="number" id="quarter" name="quarter" min="1" max="4" required>
			<button type="submit">Search</button>
		</form>
		<form method="get" th:action="@{/home}">
			<button type="submit">Home</button>
		</form>
	</div>
	<div th:if="${not #lists.isEmpty(sales)}" align="center">
		<b th:text="${message}" />
	</div>
	<div align="center" th:if="${not #lists.isEmpty(sales)}">
		<h2>Sales Data for Quarter</h2>
		<div class="indicator success"></div>
		<table border="1" class="styled-table">
			<thead>
				<tr>
					<th>Sale ID</th>
					<th>Product Name</th>
					<th>Product Price</th>
					<th>Customer Name</th>
					<th>Customer Country</th>
					<th>Sale Date</th>
					<th>Channel Description</th>
					<th>Promotion</th>
					<th>Quantity Sold</th>
					<th>Amount Sold</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sale : ${sales}">
					<td th:text="${sale.saleId}"></td>
					<td th:text="${sale.prodId.prodName}"></td>
					<td th:text="${sale.prodId.prodListPrice}"></td>
					<td th:text="${sale.custId.custFirstName + ' ' + sale.custId.custLastName}"></td>
					<td th:text="${sale.custId.countryId.countryName}"></td>
					<td th:text="${sale.timeId.timeId}"></td>
					<td th:text="${sale.channelId.channelDesc}"></td>
					<td th:text="${sale.promoId.promoSubcategory}"></td>
					<td th:text="${sale.quantitySold}"></td>
					<td th:text="${sale.amount_sold}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${#lists.isEmpty(sales)}">
	<div class="indicator error" align="center"></div>
	<p>No sales data available for the selected date.</p>
	</div>
</body>

</html>